*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
}

header{
  width: 100%;
  height: 100px;
}

.logo img{
  width: 13%;
  border-right: 1px solid grey;
  padding-right: 10px;
}

nav li{
  list-style: none;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  text-transform: uppercase;
  
}

nav li a{
  color: grey;
  text-decoration: none;
}

nav li a:visited{
   /* color: red; */
  text-decoration: none;
} 


.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

main{
  margin: 20px 0 10px 0;
  min-height: 500px;
  /* background-color: #0086FF; */
}

.jumbotron{
  width: 80%;
  min-height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../img/banner.jpg);
  background-color: grey;
  background-size: cover;
  opacity: 50%;
  padding: 200px 374px 0px 26px;
  border-radius: 10px;
}


.top{
  background-color: white;
  min-height: 45px;
}

aside, section{
  float: left;
  margin-top: 20px;
  margin-bottom: 13px;
  min-height: 429px;
}

.left, .right{
  width: 22%;
}

.centre{
  width: 52%;
  margin-left: 2%;
  margin-right: 2%;
}

.left div, .centre div, .right div{
  width: 100%;
  height: 181px;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 10px;
}

.left div img{
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 50%;
}

.centre div img{
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 50%;
}

.right div img{
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 50%;
}


footer{
  height: 50px;
  margin-top: 10px;
}

footer span{
  color: red;
}

footer div{
  text-align: center;
}

